.App {
  font-family: sans-serif;
  text-align: center;
}

.inputField {
  text-align: center;
}

.wrapper {
  margin: auto;
  overflow: auto;
}

h1 {
  text-align: center;
}

.Lists {
  overflow: auto;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.Type {
  padding: 15px;
  float: left;
  width: 300px;
}

.Type h2 {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: gainsboro;
}

.TODO,
.DOING,
.DONE {
  margin: 10px;
  background-color: white;
  padding: 3px;
  border: 2px solid gainsboro;
}
